<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.darlantcc_v1"
        tools:targetApi="31">
        <activity
            android:name=".ActivityQuestionario"
            android:exported="true"
            android:parentActivityName=".ActivityInicio"> <!-- Define qual serah a activity anterior do botao up -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ActivityInicio" />
        </activity>
        <activity
            android:name=".ActivityP1"
            android:exported="true"
            android:parentActivityName=".ActivityQuestionario"> <!-- Define qual serah a activity anterior do botao up -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ActivityQuestionario" />
        </activity>
        <activity
            android:name=".ActivityP2"
            android:exported="true"
            android:parentActivityName=".ActivityP1"> <!-- Define qual serah a activity anterior do botao up -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityP1" />
        </activity>
        <activity
            android:name=".ActivityP3"
            android:exported="true"
            android:parentActivityName=".ActivityP2"> <!-- Define qual serah a activity anterior do botao up -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityP2" />
        </activity>
        <activity
            android:name=".ActivityP4"
            android:exported="true"
            android:parentActivityName=".ActivityP3"> <!-- Define qual serah a activity anterior do botao up -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityP3" />
        </activity>
        <activity
            android:name=".ActivityP5"
            android:exported="true"
            android:parentActivityName=".ActivityP4"> <!-- Define qual serah a activity anterior do botao up -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityP4" />
        </activity>
        <activity
            android:name=".ActivityP6"
            android:exported="true"
            android:parentActivityName=".ActivityP5"> <!-- Define qual serah a activity anterior do botao up -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityP5" />
        </activity>
        <activity
            android:name=".ActivityP7"
            android:exported="true"
            android:parentActivityName=".ActivityP6"> <!-- Define qual serah a activity anterior do botao up -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityP6" />
        </activity>
        <activity
            android:name=".ActivityP8"
            android:exported="true"
            android:parentActivityName=".ActivityP7"> <!-- Define qual serah a activity anterior do botao up -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityP7" />
        </activity>
        <activity
            android:name=".ActivityP9"
            android:exported="true"
            android:parentActivityName=".ActivityP8"> <!-- Define qual serah a activity anterior do botao up -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityP8" />
        </activity>
        <activity
            android:name=".ActivityP10"
            android:exported="true"
            android:parentActivityName=".ActivityP9"> <!-- Define qual serah a activity anterior do botao up -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityP9" />
        </activity>
        <activity
            android:name=".ActivityP11"
            android:exported="true"
            android:parentActivityName=".ActivityP10"> <!-- Define qual serah a activity anterior do botao up -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityP10" />
        </activity>
        <activity
            android:name=".ActivityP12"
            android:exported="true"
            android:parentActivityName=".ActivityP11"> <!-- Define qual serah a activity anterior do botao up -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityP11" />
        </activity>
        <activity
            android:name=".ActivityP13"
            android:exported="true"
            android:parentActivityName=".ActivityP12"> <!-- Define qual serah a activity anterior do botao up -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityP12" />
        </activity>
        <activity
            android:name=".ActivityP14"
            android:exported="true"
            android:parentActivityName=".ActivityP13"> <!-- Define qual serah a activity anterior do botao up -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityP13" />
        </activity>
        <activity
            android:name=".ActivityP15"
            android:exported="true"
            android:parentActivityName=".ActivityP14"> <!-- Define qual serah a activity anterior do botao up -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityP14" />
        </activity>
        <activity
            android:name=".ActivityP16"
            android:exported="true"
            android:parentActivityName=".ActivityP15"> <!-- Define qual serah a activity anterior do botao up -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityP15" />
        </activity>
        <activity
            android:name=".ActivityP17"
            android:exported="true"
            android:parentActivityName=".ActivityP16"> <!-- Define qual serah a activity anterior do botao up -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityP16" />
        </activity>
        <activity
            android:name=".ActivityP18"
            android:exported="true"
            android:parentActivityName=".ActivityP17"> <!-- Define qual serah a activity anterior do botao up -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityP17" />
        </activity>
        <activity
            android:name=".ActivityP19"
            android:exported="true"
            android:parentActivityName=".ActivityP18"> <!-- Define qual serah a activity anterior do botao up -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityP18" />
        </activity>
        <activity
            android:name=".ActivityP20"
            android:exported="true"
            android:parentActivityName=".ActivityP19"> <!-- Define qual serah a activity anterior do botao up -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityP19" />
        </activity>
        <activity
            android:name=".ActivityP21"
            android:exported="true"
            android:parentActivityName=".ActivityP20"> <!-- Define qual serah a activity anterior do botao up -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityP20" />
        </activity>
        <activity
            android:name=".ActivityP22"
            android:exported="true"
            android:parentActivityName=".ActivityP21"> <!-- Define qual serah a activity anterior do botao up -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityP21" />
        </activity>
        <activity
            android:name=".ActivityP23"
            android:exported="true"
            android:parentActivityName=".ActivityP22"> <!-- Define qual serah a activity anterior do botao up -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityP22" />
        </activity>
        <activity
            android:name=".ActivityP24"
            android:exported="true"
            android:parentActivityName=".ActivityP23"> <!-- Define qual serah a activity anterior do botao up -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityP23" />
        </activity>
        <activity
            android:name=".ActivityP25"
            android:exported="true"
            android:parentActivityName=".ActivityP24"> <!-- Define qual serah a activity anterior do botao up -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityP24" />
        </activity>
        <activity
            android:name=".ActivityFim"
            android:exported="true"
            android:parentActivityName=".ActivityP25"> <!-- Define qual serah a activity anterior do botao up -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityP25" />
        </activity>

        <activity
            android:name=".ActivityCapa"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityVisualizarPessoas"
            android:exported="true"
            android:parentActivityName=".ActivityInicio"> <!-- Define qual serah a activity anterior do botao up -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ActivityInicio" />
        </activity>
        <activity
            android:name=".ActivityInicio"
            android:exported="true"
            android:parentActivityName=".ActivityCapa">

            <!-- Define qual serah a activity anterior do botao up -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityCapa" />
        </activity>
        <activity
            android:name=".ActivityCadastrarPessoa"
            android:exported="true"
            android:parentActivityName=".ActivityVisualizarPessoas"> <!-- Define qual serah a activity anterior do botao up -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityVisualizarPessoas" />
        </activity>
        <activity
            android:name=".ActivitySobre"
            android:exported="true"
            android:parentActivityName=".ActivityInicio"> <!-- Define qual serah a activity anterior do botao up -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ActivityInicio" />
        </activity>

        <!-- Retorna para o inicio para nao perder o ID do questionario-->
        <activity
            android:name=".ActivityRespostas"
            android:exported="true"
            android:parentActivityName=".ActivityQuestionario"> <!-- Define qual serah a activity anterior do botao up -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityQuestionario" />
        </activity>


        <activity
            android:name=".ActivityVisualizarRespostas"
            android:exported="true"
            android:parentActivityName=".ActivityVisualizarRespostas"> <!-- Define qual serah a activity anterior do botao up -->
            <!-- Define qual serah a activity anterior do botao up -->
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ActivityInicio" />
        </activity>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>